name: DevOps CI Pipeline

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run simple script
        run: echo "Pipeline running for branch: ${{ github.ref }}"

      - name: List Files
        run: ls -la
