name: DevOps CI Pipeline

on:
  push:
    branches: [master, dev]

jobs:
  docker-build-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login  to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build and Push bulti-arch image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/abhi-docker-test:latest
            ${{ secrets.DOCKER_USERNAME }}/abhi-docker-test:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull devopsuser23/abhi-docker-test:latest
            docker stop abhi-prod || true
            docker rm abhi-prod || true
            docker run -d -p 8080:8080 --name abhi-prod devopsuser23/abhi-docker-test:latest
